@define-color color-forte rgb(6, 106, 89);
@define-color color-backg rgb(22, 39, 37);
@define-color color-secun rgb(35, 91, 107);
@define-color color-activ rgb(168, 255, 255);
@define-color color-font rgb(198, 240, 240);
